<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <meta name="description" content="svg">
    <meta name="keywords" content="svg">
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <style>
        .path:hover {
            stroke-dasharray: 30 10;
            animation: dash 5s infinite;
        }

        @keyframes dash {
            from {
                stroke-dasharray: 30 10;
                stroke-dashoffset: 121.774;

            }
            to {
                stroke-dasharray: 121.774 120;
                stroke-dashoffset: 0;
            }
        }
    </style>
</head>
<body>
<div style="width: 41%;;float: left">
    <svg id="svg" width="100%" height="200">
        <desc>二次贝塞尔平滑曲线</desc>
        <defs></defs>
        <!-- 轮廓 -->
        <path d="M30 40 L40 10" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M40 10 L55 30" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M55 30 Q80 23,105 30" stroke="#FFA54F" fill="none"
              style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M105 30 L120 10" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M120 10 L130 40" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M130 40 C180 120, -20 120, 30 40" stroke="#FFA54F" fill="none"
              style="stroke-width: 2px;stroke-linejoin: round;"></path>

        <!-- 看啊脸 -->
        <!-- 眼睛 -->
        <path d="M35 50 Q42 58, 48 52" stroke="#FFA54F" fill="none"
              style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M125 50 Q118 58, 112 52" stroke="#FFA54F" fill="none"
              style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <!-- 鼻子 -->
        <path d="M80 62 L78 67" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
    </svg>
</div>
<div style="width: 50%;padding-top: 50px;float: left">
    <svg id="svg" width="100%" height="300">
        <desc>贝塞尔平滑曲线</desc>
        <defs></defs>
        <!-- 轮廓 -->
        <path d="M30 40 L40 10" stroke="#FFA54F" fill="#ffa54f"
              style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M40 10 L55 30" stroke="#FFA54F" fill="#ffa54f"
              style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M55 30 Q80 23, 105 30" stroke="#FFA54F" fill="none"
              style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M105 30 L120 10" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M120 10 L130 40" stroke="#FFA54F" fill="none" style="stroke-width: 2px;stroke-linejoin: round;"></path>

        <path d="M130 40 C180 120, 85 120, 85 100" stroke="#FFA54F" fill="none"
              style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M85 100 Q98 120, 100 190" stroke="#FFA54F" fill="none"
              style="stroke-width: 2px;stroke-linejoin: round;"></path>

        <path d="M30 40 C-20 120, 75 120, 75 100" stroke="#FFA54F" fill="none"
              style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <path d="M75 100 Q62 120, 60 190" stroke="#FFA54F" fill="none" style="stroke-width: 2px;"></path>

        <path d="M60 190 Q80 210, 100 190" stroke="#FFA54F" fill="none"
              style="stroke-width: 2px;stroke-linejoin: round;"></path>
        <!-- 尾巴 -->
        <path id="path" class="path" d="M80 200 C95 250, 100 120, 162 160" stroke="#FFA54F" stroke-width="5"
              fill="none"></path>
    </svg>
</div>

<script>

    var path = document.getElementById('path');
    var len = path.getTotalLength();    //获取path的长度

    var x1, y1, x2, y2, x, y, mark_x;
    x1 = 95;
    y1 = 250;
    x2 = 100;
    y2 = 120;
    x = 162;
    y = 190;

    //通过时间控制路径改变
    var time_control = self.setInterval("control_tail()", 50);

    function revert_control() {
        /**
         * 从低到高
         */
        if (y > 190){
            y--;x2--;y2--;x1--;y1--;
        }else
            time_control = self.setInterval("control_tail()", 50);

        $("#path").attr("d", "M80 200 C" + x1 + " " + y1 + ", " + x2 + " " + y2 + ", " + x + " " + y);
    }
    function control_tail() {
        /**
         * 从高到低
         */
        if (y < 250){
            y++;x2++;y2++;x1++;y1++;
        }else
            time_control = self.setInterval("revert_control()", 50);

        $("#path").attr("d", "M80 200 C" + x1 + " " + y1 + ", " + x2 + " " + y2 + ", " + x + " " + y);
    }

</script>
</body>
</html>