<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="stylesheet" href="/static/amazeui/amazeui.min.css">
    <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>
<div id="body">
    <div class="top-in">
        <input type="hidden" name="top_in" value="">
    </div>
    <div id="content">
        <div id="bigger">
            Welcome
        </div>
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 300}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 400}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 500}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 600}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 700}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 300}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 400}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 500}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 600}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 700}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 300}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 400}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 500}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 600}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
    <div class="am-panel am-panel-default" data-am-scrollspy="{animation: 'fade', delay: 700}">
        生命是一团欲望，欲望不满足便痛苦，满足便无聊。人生就在痛苦和无聊之间摇摆。——叔本华
    </div>
</div>


<!-- bootstrap的cdn杠杠滴 -->
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="/static/amazeui/amazeui.min.js"></script>
<script>
    $(function a() {
        var page_y = 100;
        var page_st_y = 0;
        var page_end_y = 0;
        document.getElementById("body").addEventListener("touchstart", function (ev) {
{#            alert(ev.touches.length);#}
            page_st_y = ev.touches[0].clientY;
        }, false);
        document.getElementById("body").addEventListener("touchend", function (ev) {
            page_end_y = ev.changedTouches[0].clientY;
            page_y = page_end_y-page_st_y;
            if (300 > page_y && page_y > 100){
                alert('a')
            }else if (page_y > 300){
                alert("hard");
            }else if(page_y < 0 && page_y > -100){
                alert("-a")
            }else if(page_y < -100){
                alert("-hard");
            }
        }, false)
    });

</script>
</body>
</html>